<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1><%= title %></h1>
    <h3>
    	<p>Menjadi program studi unggul dan terdepan dalam menghasilkan sumber daya manusia bidang keahlian teknologi informasi untuk dunia industri khususnya di Kalimantan Barat pada tahun 2025 dan nasional pada tahun 2030
    	</p>
    </h3>
    <a href="/"><p>HALAMAN AWAL</p></a>
  </body>
</html>
