<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Feky Irawan ,Umur 20 Tahun </p>
    <p>Kelas : TEKNIK INFORMATIKA 4B </p>
    <p>Makul : Aplikasi dan Teknologi Web || <a href="/about">ABOUT</a></p>
  </body>
</html>
